In [2]:
# Importing Dependencies

import os
import csv
import pandas as pd

In [3]:
# Import & compare file heads of our various CSVs. We'll use 2019.csv as our template and create new
# dataframes of off the rest to ensure the data is congruent.

csvpath_2015 = os.path.join('Resources', '2015.csv')
csvpath_2016 = os.path.join('Resources', '2016.csv')
csvpath_2017 = os.path.join('Resources', '2017.csv')
csvpath_2018 = os.path.join('Resources', '2018.csv')
csvpath_2019 = os.path.join('Resources', '2019.csv')

csv_2015 = pd.read_csv(csvpath_2015)
csv_2015.head()

In [4]:
csv_2016 = pd.read_csv(csvpath_2016)
csv_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [5]:
csv_2017 = pd.read_csv(csvpath_2017)
csv_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [6]:
csv_2016 = pd.read_csv(csvpath_2016)

In [7]:
csv_2017 = pd.read_csv(csvpath_2017)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [8]:
csv_2018 = pd.read_csv(csvpath_2018)

In [17]:
csv_2019 = pd.read_csv(csvpath_2019)

In [22]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / Fix 2017 Data

csv_2017_restructured = csv_2017[["Happiness.Rank",
                                  "Country",
                                  "Happiness.Score",
                                  "Economy..GDP.per.Capita.",
                                  "Family",
                                  "Health..Life.Expectancy.",
                                  "Freedom",
                                  "Generosity",
                                  "Trust..Government.Corruption."]]

csv_2017_restructured = csv_2017_restructured.rename(columns={"Happiness.Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness.Score": "Score",
                                      "Economy..GDP.per.Capita.": "GDP per capita",
                                      "Family": "Social support",
                                      "Health..Life.Expectancy.": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust..Government.Corruption.": "Perceptions of corruption"})

In [23]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / fix 2016 Data

csv_2016_restructured = csv_2016[["Happiness Rank",
                                 "Country",
                                  "Happiness Score",
                                  "Economy (GDP per Capita)",
                                  "Family",
                                  "Health (Life Expectancy)",
                                  "Freedom",
                                  "Generosity",
                                  "Trust (Government Corruption)"]]

csv_2016_restructured = csv_2016_restructured.rename(columns={"Happiness Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness Score": "Score",
                                      "Economy (GDP per Capita)": "GDP per capita",
                                      "Family": "Social support",
                                      "Health (Life Expectancy)": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust (Government Corruption)": "Perceptions of corruption"})

In [25]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / fix 2015 Data

csv_2015_restructured = csv_2015[["Happiness Rank",
                                 "Country",
                                  "Happiness Score",
                                  "Economy (GDP per Capita)",
                                  "Family",
                                  "Health (Life Expectancy)",
                                  "Freedom",
                                  "Generosity",
                                  "Trust (Government Corruption)"]]

csv_2015_restructured = csv_2015_restructured.rename(columns={"Happiness Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness Score": "Score",
                                      "Economy (GDP per Capita)": "GDP per capita",
                                      "Family": "Social support",
                                      "Health (Life Expectancy)": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust (Government Corruption)": "Perceptions of corruption"})

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [34]:
#Add new "Year" column to each csv.
csv_2019["Year"] = 2019
csv_2018["Year"] = 2018
csv_2017_restructured["Year"] = 2017
csv_2016_restructured["Year"] = 2016
csv_2015_restructured["Year"] = 2015

In [38]:
#Combine 2015-2019 data into one csv.
csv_years_combined = csv_2015_restructured.append(csv_2016_restructured)
csv_years_combined = csv_years_combined.append(csv_2017_restructured)
csv_years_combined = csv_years_combined.append(csv_2018)
csv_years_combined = csv_years_combined.append(csv_2019)
csv_years_combined["Country or region"].value_counts()

Jordan                      5
Liberia                     5
Bulgaria                    5
Vietnam                     5
Algeria                     5
                           ..
Djibouti                    1
North Macedonia             1
Taiwan Province of China    1
Hong Kong S.A.R., China     1
Oman                        1
Name: Country or region, Length: 170, dtype: int64