In [70]:
# Importing Dependencies
import numpy as np
import os
import csv
import pandas as pd
import statistics as stat

In [46]:
# Import & compare file heads of our various CSVs. We'll use 2019.csv as our template and create new
# dataframes of off the rest to ensure the data is congruent.

csvpath_2015 = os.path.join('Resources', '2015.csv')
csvpath_2016 = os.path.join('Resources', '2016.csv')
csvpath_2017 = os.path.join('Resources', '2017.csv')
csvpath_2018 = os.path.join('Resources', '2018.csv')
csvpath_2019 = os.path.join('Resources', '2019.csv')

csv_2015 = pd.read_csv(csvpath_2015)
csv_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [47]:
csv_2016 = pd.read_csv(csvpath_2016)
csv_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [48]:
csv_2017 = pd.read_csv(csvpath_2017)
csv_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [49]:
csv_2016 = pd.read_csv(csvpath_2016)

In [50]:
csv_2017 = pd.read_csv(csvpath_2017)

In [51]:
csv_2018 = pd.read_csv(csvpath_2018)

In [52]:
csv_2019 = pd.read_csv(csvpath_2019)

In [53]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / Fix 2017 Data

csv_2017_restructured = csv_2017[["Happiness.Rank",
                                  "Country",
                                  "Happiness.Score",
                                  "Economy..GDP.per.Capita.",
                                  "Family",
                                  "Health..Life.Expectancy.",
                                  "Freedom",
                                  "Generosity",
                                  "Trust..Government.Corruption."]]

csv_2017_restructured = csv_2017_restructured.rename(columns={"Happiness.Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness.Score": "Score",
                                      "Economy..GDP.per.Capita.": "GDP per capita",
                                      "Family": "Social support",
                                      "Health..Life.Expectancy.": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust..Government.Corruption.": "Perceptions of corruption"})

In [54]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / fix 2016 Data

csv_2016_restructured = csv_2016[["Happiness Rank",
                                 "Country",
                                  "Happiness Score",
                                  "Economy (GDP per Capita)",
                                  "Family",
                                  "Health (Life Expectancy)",
                                  "Freedom",
                                  "Generosity",
                                  "Trust (Government Corruption)"]]

csv_2016_restructured = csv_2016_restructured.rename(columns={"Happiness Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness Score": "Score",
                                      "Economy (GDP per Capita)": "GDP per capita",
                                      "Family": "Social support",
                                      "Health (Life Expectancy)": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust (Government Corruption)": "Perceptions of corruption"})

In [55]:
# 2019 & 2018 datasets are the same in structure & column naming convention.  Restructure / Rename
# datasets from 2015 - 2017.

# Convert / fix 2015 Data

csv_2015_restructured = csv_2015[["Happiness Rank",
                                 "Country",
                                  "Happiness Score",
                                  "Economy (GDP per Capita)",
                                  "Family",
                                  "Health (Life Expectancy)",
                                  "Freedom",
                                  "Generosity",
                                  "Trust (Government Corruption)"]]

csv_2015_restructured = csv_2015_restructured.rename(columns={"Happiness Rank": "Overall rank",
                                      "Country": "Country or region",
                                      "Happiness Score": "Score",
                                      "Economy (GDP per Capita)": "GDP per capita",
                                      "Family": "Social support",
                                      "Health (Life Expectancy)": "Healthy life expectancy",
                                      "Freedom": "Freedom to make life choices",
                                      "Generosity": "Generosity",
                                      "Trust (Government Corruption)": "Perceptions of corruption"})

In [56]:
#Add new "Year" column to each csv.
csv_2019["Year"] = 2019
csv_2018["Year"] = 2018
csv_2017_restructured["Year"] = 2017
csv_2016_restructured["Year"] = 2016
csv_2015_restructured["Year"] = 2015

In [65]:
#Combine 2015-2019 data into one csv.
csv_years_combined = csv_2015_restructured.append(csv_2016_restructured)
csv_years_combined = csv_years_combined.append(csv_2017_restructured)
csv_years_combined = csv_years_combined.append(csv_2018)
csv_years_combined = csv_years_combined.append(csv_2019)
csv_years_combined
#["Country or region"].value_counts()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100,2019
152,153,Tanzania,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700,2019
153,154,Afghanistan,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500,2019
154,155,Central African Republic,3.083,0.02600,0.00000,0.10500,0.22500,0.23500,0.03500,2019
155,156,South Sudan,2.853,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100,2019

In [79]:
countries = []
countries.append(csv_years_combined["Country or region"])

csv_4me = csv_years_combined.groupby("Year")
csv_4me.mean()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Year,,,,,,,,
2015,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.237296,0.143422
2016,78.980892,5.382185,0.953880,0.793621,0.557619,0.370994,0.242635,0.137624
2017,78.000000,5.354019,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120
2018,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
2019,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603

In [80]:
countries = []
countries.append(csv_years_combined["Country or region"])

csv_4me = csv_years_combined.groupby("Country or region")
csv_4me.mean()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
Country or region,,,,,,,,,
Afghanistan,149.4,3.51280,0.357113,0.409753,0.254707,0.117924,0.267730,0.058094,2017.0
Albania,106.4,4.71260,0.938633,0.754931,0.787696,0.371898,0.167887,0.043201,2017.0
Algeria,66.2,5.66760,1.012963,1.074205,0.665057,0.178437,0.069219,0.146099,2017.0
Angola,140.0,3.87225,0.798380,0.938368,0.133902,0.027433,0.105269,0.071570,2016.5
Argentina,31.2,6.45940,1.111035,1.330960,0.760895,0.481620,0.092371,0.064308,2017.0
...,...,...,...,...,...,...,...,...,...
Venezuela,71.8,5.53140,1.052468,1.323264,0.683741,0.213709,0.057186,0.071444,2017.0
Vietnam,90.8,5.15460,0.723416,1.138384,0.722700,0.577207,0.195664,0.091921,2017.0
Yemen,146.4,3.62580,0.489313,0.865448,0.365440,0.244175,0.096929,0.067045,2017.0
Zambia,114.0,4.58440,0.571761,0.932381,0.302761,0.462099,0.218430,0.097337,2017.0
Zimbabwe,134.8,4.00660,0.344051,1.007727,0.274403,0.323257,0.169409,0.089997,2017.0